<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootStrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>TextPlay.com</title>
</head>

<style>
    .logout {
        margin-left: 10px;
    }

    .navbar-brand {
        font-size: 1.35rem !important;
    }

    .navbar a {
        font-size: 1.05rem;
        text-transform: capitalize;
    }

    .navbar a:hover {
        color: skyblue !important;
        /* !important likhne sy sarey hurhy hover py color show warna home nahi krrha tha */
    }

    .navbar-nav .nav-link.active {
        color: var(--bs-navbar-active-color);
        border-bottom: 1px solid blue;
        font-weight: bold;
    }
</style>

<body>

    {% load static %}
    <!-- Creating Navbar -->
    <nav class="navbar navbar-expand-lg" style="background: black;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white">TextPlay.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white" href="/contact">Contact Us</a>
                    </li>



                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <span class="logout"><a href="{% url 'logout' %}">
                        <button class="btn btn-outline-success">Logout</button>
                    </a></span>
            </div>
        </div>
    </nav>

    <!-- Message -->




    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-{{ message.tags }} fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            style="float: right"></button>
    </div>
    {% endfor %}
    {% endif %}

    <section class="main_heading my-5 ">
        <div class=" text-center">
            <h1 class="display-4">Contact Us</h1> <!-- display-4 font text in bootstrap -->
            <hr class="w-25 mx-auto"> <!-- hr is in center now -->
        </div>


        <div class="container">
            <div class="row bg-light">
                <!-- tootne ke baad col-12 ke poori screen -->
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex">
                    <img class="img-fluid mx-auto d-flex " src="{% static 'imgs/contactus.png' %}" alt="contactus...">
                </div>

                <!-- extra extra large 8 space le b aqi mein 10 space aur medium mein 8 space le -->
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6 ms-auto">

                    <!-- form code -->
                    <form method="post" action=""> {% csrf_token %}
                        <div class="mb-3 mt-3">
                            <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Enter your name" name="name">
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter your Email" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Phone number</label>
                            <input type="phone" class="form-control" id="exampleInputphone" aria-describedby="phoneHelp"
                                placeholder="Enter your phone number" name="phone">
                            <div id="phoneHelp" class="form-text">We'll never share your phone number with anyone else.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Write your message here.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                name="desc"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>












    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>